body{
    color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0;
}
#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background:#33a; 
    box-shadow: 0px 2px 10px 0px rgb(0,0,0,0.8); /* hace sombra */
    color: white;
    margin: 10px;
    padding: 0.5 em;
    font-weight: bold; /* negrita */
}
#cabecera p{
    margin: 10px 0 0 60px;
}
 #logo {

    margin: 10px ;
    width: 20px;
   height: 10px;

}

#logo img{

    width: 30px;
    height: 40px;
    
}



#cabecera #tagline{
    padding: 0 0 0 1em ;
    font-weight: normal;
    font-size: 0.8em;
}